<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
	<!-- 避免跨站请求伪造 -->
	<%= render 'layouts/rails_default' %>
	<%= render 'layouts/shim' %>
  </head>

  <body>
	<%= render 'layouts/header' %>

	<div class="container">
	  <!-- 访问static_pages/home 时会把home.html.erb中的内容转换成HTML，插入yiled中 -->
      <%= yield %>
	  <%= render 'layouts/footer' %>
	</div>
  </body>
</html>
